.black-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.edit-window {
  background-color: #303035;
  color: grey;
  width: 700px;
  min-height: 500px;
  margin: 0 auto;
  margin-top: 100px;
}
.company-data-container {
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.edit-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  width: 60%;
  margin: 0 auto;
}
.detailed-company-information {
  width: 50%;
  height: 100%;
  border-right: 2px rgba(0, 0, 0, 0.589) solid;
}
.info-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.comments-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.comment-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  width: 90%;
  border-bottom: 1px rgba(255, 255, 255, 0.644) solid;
}

.comment-date {
  width: 30%;
}

.comment-date h4 {
  margin: 0;
}

.comment-text {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90%;
  text-align: center;
}

.comment-text h4 {
  margin: 0;
}

.add-comment-btn {
  margin-top: 10px;
}

.add-comment-input {
  margin-top: 10px;
}

.add-error-message {
  color: red;
}

@media screen and (max-width: 768px) {
  .edit-window {
    margin-top: 40px;
    width: 300px;
    min-height: 500px;
  }

  .company-data-container {
    flex-direction: column;
  }

  .detailed-company-information {
    width: 90%;
    border: none;
    border-bottom: 2px solid black;
    height: 60%;
  }

  .info-cont > h4,
  p {
    margin: 0;
  }

  .comments-container {
    width: 100%;
  }

  .comment-info {
    width: 90%;
    min-height: 100px;
    padding: 0;
  }

  .comment-date {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 90%;
  }

  .comment-date > p {
    margin-top: 4px;
  }
  .comment-text {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    text-align: center;
  }
  .comment-text > p {
    margin-top: 4px;
    height: 80%;
    width: 160px;
  }
}
