.black-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.edit-window {
  background-color: darkgrey;
  width: 700px;
  height: 700px;
  margin: 0 auto;
  margin-top: 200px;
}
.company-data-container {
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.edit-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10%;
}
.detailed-company-information {
  width: 50%;
  height: 100%;
  border-right: 2px rgba(0, 0, 0, 0.589) solid;
}
.info-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.comments-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.comment-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  width: 90%;
  border-bottom: 1px rgba(255, 255, 255, 0.644) solid;
}

.comment-date {
  width: 30%;
}

.comment-date h4 {
  margin: 0;
}

.comment-text {
  width: 70%;
}

.comment-text h4 {
  margin: 0;
}

.add-comment-btn {
  margin-top: 10px;
}

.add-comment-input {
  margin-top: 10px;
}

.add-error-message {
  color: red;
}
