.add-job {
  background-color: rgba(255, 255, 255, 0.76);
  background-color: rgba(255, 255, 255, 0.76);
  width: 50%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.company-cont {
  padding: 30px;
}

.option-cont {
  padding: 20px;
}

.comments {
  padding: 20px;
}

.custom-select-wrapper {
  position: relative;
  user-select: none;
  width: 100%;
}
.custom-select {
  position: relative;
  display: flex;
  flex-direction: column;
  border-width: 0 2px 0 2px;
  border-style: solid;
  border-color: #394a6d;
}
.custom-select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 22px;
  font-size: 20px;
  font-weight: 300;
  color: #3b3b3b;
  height: 60px;
  line-height: 60px;
  background: #ffffff;
  cursor: pointer;
  border-width: 2px 0 2px 0;
  border-style: solid;
  border-color: #394a6d;
}
.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  border: 2px solid #394a6d;
  border-top: 0;
  background: #fff;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}
.custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.custom-option {
  position: relative;
  display: block;
  padding: 0 22px 0 22px;
  font-size: 22px;
  font-weight: 300;
  color: #3b3b3b;
  line-height: 60px;
  cursor: pointer;
  transition: all 0.5s;
}
.custom-option:hover {
  cursor: pointer;
  background-color: #b2b2b2;
}
.custom-option.selected {
  color: #ffffff;
  background-color: #305c91;
}

.arrow {
  position: relative;
  height: 15px;
  width: 15px;
}
.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0.15rem;
  height: 100%;
  transition: all 0.5s;
}
.arrow::before {
  left: -5px;
  transform: rotate(45deg);
  background-color: #394a6d;
}
.arrow::after {
  left: 5px;
  transform: rotate(-45deg);
  background-color: #394a6d;
}
.open .arrow::before {
  left: -5px;
  transform: rotate(-45deg);
}
.open .arrow::after {
  left: 5px;
  transform: rotate(45deg);
}
.submit-btn {
  opacity: 1;
  outline: 0;
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-family: "Open Sans";
  text-transform: uppercase;
  cursor: pointer;
}

.submit-btn::after {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  color: rgba(255, 255, 255, 0.76);
  display: block;
  transition: 0.5s;
  position: absolute;
  background: #1a1a1d;
  content: attr(data-back);
  transform: translateY(50%) rotateX(90deg);
}

.submit-btn::before {
  top: 0;
  left: 0;
  opacity: 1;
  color: #333333;
  display: block;
  padding: 0 30px;
  line-height: 40px;
  transition: 0.5s;
  position: relative;
  background: inherit;
  content: attr(data-front);
  transform: translateY(0) rotateX(0);
}

.submit-btn:hover::after {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}

.submit-btn:hover::before {
  opacity: 0;
  transform: translateY(-50%) rotateX(90deg);
}

.result {
  display: block;
  letter-spacing: 4px;
  text-align: center;
}

.text {
  color: #868585;
  cursor: text;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  transition: all 0.3s;
  margin-top: 5px;
  letter-spacing: 4px;
}

.result input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #4a4a4a;
  color: black;
  font-size: 24px;
  letter-spacing: -1px;
  outline: 0;
  padding: 5px 20px;
  text-align: center;
  transition: all 0.3s;
  width: 200px;
}

.result input:focus {
  max-width: 100%;
  width: 350px;
}

@media screen and (max-width: 768px) {
  .add-job {
    width: 90%;
  }
}
