.job-list {
  list-style: none;
  padding: 20px;
}

.job {
  background-color: rgb(192, 187, 187);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  margin-bottom: 10px;
  border: 2px solid rgb(209, 209, 209);
  transition: all 0.2s ease-in;
}

.job h4,
p {
  margin: 5px;
}
.job:hover {
  padding-top: 10px;
  padding-bottom: 10px;
}

.job-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  padding: 0 30px;
  margin-bottom: 10px;
}
