.job-header {
  background-color: #6f2232;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  padding: 0 15px;
}

.job-header-company-name,
.job-header-city,
.job-header-date,
.job-header-edit,
.job-header-source,
.job-header-result {
  /* background-color: hotpink; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 16.6%;
}

.job {
  background-color: #4e4e508f;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  margin-top: 10px;
  padding: 0 15px;
  transition: all 0.2s ease-in;
}

.job:hover {
  background-color: #6f2232;
}

.job.rejected {
  background-color: rgba(78, 78, 80, 0.2);
  color: rgba(255, 255, 255, 0.466);
}

.job.offer {
  background-color: rgba(63, 150, 63, 0.753);
}

.job:hover {
  background-color: #6f2232;
}

.joblist-job-title {
  width: 16.6%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 16.6%;
}

.icons > i {
  padding: 0 15px;
}

.job-edit-btn {
  font-size: 26px;
  cursor: pointer;
  color: rgba(102, 100, 100, 0.801);
  transition: all 0.2s ease-in;
}

.job-delete-btn {
  font-size: 26px;
  cursor: pointer;
  color: rgba(102, 100, 100, 0.801);
  transition: all 0.2s ease-in;
}

.job-delete-btn:hover {
  color: rgb(187, 6, 6);
}

.job-edit-btn:hover {
  color: black;
}

@media screen and (max-width: 768px) {
  .job-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }

  .job-header-date,
  .job-header-source,
  .job-header-result {
    display: none;
  }
  .job-header-company-name,
  .job-header-city,
  .job-header-edit {
    width: 33%;
  }

  .job {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 8px;
  }
  .joblist-job-title {
    width: 50%;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .joblist-job-title.city {
    font-size: 12px;
  }

  .joblist-job-title.source {
    display: none;
  }
  .joblist-job-title.result {
    display: none;
  }
  .joblist-job-title.date {
    display: none;
  }

  .icons {
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
