@import url(https://fonts.googleapis.com/css?family=Montserrat);

.nav {
  /* background-color: #adadaf; */
  /* background-color: brown; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 30px; */
  width: 100%;
  height: 80px;
}

.nav-container-1 {
  /* background-color: burlywood; */
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* justify-content: center; */
  align-items: center;
  margin-left: 10px;
  height: 100%;
  padding: 0 30px;
}
.nav-container-2 {
  /* background-color: cadetblue; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 100%;
}
.nav-container-3 {
  /* background-color: chartreuse; */
  margin-right: 10px;
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
}

.nav-brn-container {
  /* background-color: blueviolet; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user-btn-container {
  /* background-color: blueviolet; */
  height: 100%;
  width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-btn {
  border: none;
  /* background-color: blueviolet; */
  background-color: transparent;
  color: grey;
  width: 140px;
  height: 40px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  position: relative;
  outline: none;
  border: 3px solid grey;
  border-radius: 3px;
  transition: color 0.5s, transform 0.2s, background-color 0.2s;
}

.nav-btn:active {
  transform: translateY(3px);
}

.nav-btn:hover {
  background-color: transparent;
  box-shadow: none;
  color: white;
}

.nav-btn::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;

  transition: opacity 0.3s, border 0.3s;
}

.nav-btn:hover::before {
  opacity: 0;
}

.nav-btn::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 3px solid white;
  opacity: 0;
  z-index: 1;
  transform: scaleX(1.2) scaleY(1.4);
  transition: transform 0.3s, opacity 0.3s;
}
.nav-btn:hover::after {
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}

.nav-btn.opened {
  color: white;
}

.nav-btn.opened::before {
  border: 3px solid white;
}

.inpit-search {
  border: 3px grey solid;
  border-radius: 3px;
  background-color: inherit;
  color: white;
  height: 20px;
  font-size: 18px;
  padding: 5px;
}
