.black-background {
  background-color: rgba(0, 0, 0, 0.795);
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.settings-container {
  background-color: brown;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  margin-top: 100px;
}
